body {
    font-family: Ubuntu;
}


/* Каталог товаров */

.good-item {
    margin: 10px 0;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 3px;
}

.good-item__id {
    padding-top: 30px;
    color: steelblue;
}

.good-item__name {
    padding-top: 10px;
    font-size: 1.1em;
}

.good-item__price {
    padding-top: 10px;
    color: red;
}

.good-item__btn-add {
    margin-top: 30px;
}

.button {
    width: 120px;
    height: 42px;
}

.small-good-item {
    border: solid 1px gray;
    padding: 5px;
    margin-top: 3px;
    list-style: none;
    border-radius: 2px;
}

.small-good-item_buy_button {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 6px;
    font-family: Lato Regular, Helvetica, Arial, sans-serif;
}

#byu-button {
    /*Переход*/
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;


}

#byu-button:hover {
    color: #fff;
    background-color: #3b5998;
    border-color: #3b5998;
}

.small-good-item__img {
    max-width: 100%;
}


.small-good-item__name {
    color: #000;
    margin: 10px 0 7px;
    font-size: 20px;
    line-height: 1.125;
    font-family: Helvetica, Arial, sans-serif;
}

.small-good-item__brand {
    font-family: 'Roboto Slab', 'Times New Roman', serif;
    color: #000;
    font-size: 14px;
    line-height: 1;
}

.small-good-item__ingredients {
    font-size: 14px;
    line-height: 1.375;
    color: #878686;
    font-family: "Lato Regular", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: no-common-ligatures;
}

.small-good-item__size{
    font-size: 18px ;
    color: #000;
    font-family: "Roboto Slab","Times New Roman",serif;
}

.small-good-item__price {
    color: #000;
    font-size: 26px;
    line-height: 1;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}
