body {
    font-family: Ubuntu;
}


/* Каталог товаров */

.good-item {
    margin: 10px 0;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 3px;
}

.good-item__id {
    padding-top: 30px;
    color: steelblue;
}

.good-item__name {
    padding-top: 10px;
    font-size: 1.1em;
}

.good-item__price {
    padding-top: 10px;
    color: red;
}

.good-item__btn-add {
    margin-top: 30px;
}


/* Каталог товаров с фильтрами*/

.small-good-item {
    border: solid 1px gray;
    padding: 5px;
    margin-top: 3px;
    list-style: none;
    border-radius: 2px;
}

.small-good-item__img {
    max-width: 100%;
}

.small-good-item__name {
    color: steelblue;
}

.small-good-item__price {
    color: red;
}
